/*
  Choose a grid width, the number of columns and the margin between columns.
  The result of the following equation has to be an integer, not a fraction:

  (width - (columns - 1) * col_margin) / columns = N
*/
/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
/* ==========================================================================
    CSS Code for all Global Elements and Site-Wide Selectors

    Author: Max Quattromani
    Base -- Version: 0.4.1  - Updated: 2/19/2014
   ========================================================================== */
/*

 * Base
 		* Colors
 		* Defaults

 * Layout

 * Module

 * State

 * Theme

 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer

 */
/* ==========================================================================
    Base: Colors
   ========================================================================== */
/*

 	$color-white: #fff;
  $color-off-white: #f2f2f2;
  $color-black: #000;
  $color-grey: #666;

  // Semantic Colors

  $color-primary-red: #ed5565;
  $color-secondary-red: #da4453;
  $color-primary-green: #a0d468;
  $color-secondary-green: #8cc152;
  $color-primary-blue: #4fc1e9;
  $color-secondary-blue: #3bafda;
  $color-primary-lav: #ac92ec;
  $color-secondary-lav: #967adc;

  $color-dark-grey: darken($color-grey, 20%);
  $color-light-grey: lighten($color-grey, 20%);
  $color-light-light-grey: lighten($color-light-grey, 20%);

  // Typography
  $text: $color-dark-grey;
  $text-color: $text;
  $link: $color-primary-blue;
  $link-hover: $color-secondary-blue;
  $text-grey: $color-grey;
  $text-light-grey: $color-light-grey;
  $text-link: $link;
  $text-white: $color-white;
  $text-error: $color-primary-red;
  $text-success: $color-secondary-green;
  $text-info: $color-secondary-blue;

*/
/* ==========================================================================
    Base: Defaults
   ========================================================================== */
/* ==========================
	  Reset
   ========================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 0;
  background: transparent;
  list-style: none outside none;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background: white;
}

/* ==========================
	  HTML5 Display Definitions
   ========================== */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* ==========================
	  Base Stucture
   ========================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
