/* ==========================================================================
    Colors & Gradients -- Version: 0.4.2 - Updated: 2/19/2014
   ========================================================================== */
.color-white {
  background: white;
}

.color-black {
  background: black;
}

.color-grey {
  background: #666666;
}

.color-light-grey {
  background: #999999;
}

.color-primary-red {
  background: red;
}

.color-primary-green {
  background: lime;
}

.color-primary-blue {
  background: blue;
}

.color-primary-lav {
  background: #ac92ec;
}

.color-secondary-red {
  background: red;
}

.color-secondary-green {
  background: lime;
}

.color-secondary-blue {
  background: blue;
}

.color-secondary-lav {
  background: #ac92ec;
}

/* Typography Colors */
.text {
  color: #333333;
}

.color-text {
  background: #333333;
}

.color-link {
  background: blue;
}

.color-error {
  background: red;
}

.color-info {
  background: blue;
}

.color-success {
  background: lime;
}

.link {
  color: blue;
}

.text-grey {
  color: #666666;
}

.text-light-grey {
  color: #999999;
}

.text-link {
  color: blue;
}

.text-white {
  color: white;
}

.text-info {
  color: blue;
}

.text-muted, .muted {
  color: #999999;
}

.text-warning, .text-error {
  color: red;
}

.error, .is-error {
  background: #ff8080;
  color: red;
}

.text-info {
  color: blue;
}

.text-success {
  color: lime;
}

/* ==========================
    Primary Color Palette
   ========================== */
.outline {
  border: 1px solid #333333;
}

/* ==========================
  backgrounds
   ========================== */
.background-1 {
  background: #161d22;
}

.background-2 {
  background: #1e262c;
}

.background-3 {
  background: #424e57;
}

.background-4 {
  background: #445f74;
}

.background-5 {
  background: #5d84a3;
}

.background-6 {
  background: #8e96a0;
}

.background-7 {
  background: #c6c9cf;
}

.background-8 {
  background: #d2d5da;
}

.background-9 {
  background: #f2f4f6;
}

.gradient {
  filter: none;
}

/* ie9 (.ie9) */
.ie9 [class*='gradient'] {
  filter: none;
}
