/* ==========================================================================
    Layout -- Version: 1.9.0.2 - Updated: 2/17/2014
   ========================================================================== */
.full {
  width: 100%;
}

.container {
  display: block;
  width: 94%;
  max-width: 1024px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
  overflow: visible;
}

.content {
  position: relative;
  overflow: auto;
  z-index: 0;
}

/* Clearfix */
.clearfix, .row {
  *zoom: 1;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: " ";
  display: table;
}
.clearfix:after, .row:after {
  clear: both;
}

/* ==========================
    Grid
   ========================== */
.row {
  margin-bottom: 1em;
}
.row:last-of-type {
  margin-bottom: 0;
}

.column {
  float: left;
  min-height: 1px;
  width: 100%;
  margin-left: 2%;
  border: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.column:first-of-type {
  margin-left: 0;
}

.column.full {
  width: 100%;
}
.column.half {
  width: 49%;
}
.marginless .column.half {
  width: 50%;
}
.column.third {
  width: 32%;
}
.marginless .column.third {
  width: 33.33333%;
}
.column.fourth {
  width: 23.5%;
}
.marginless .column.fourth {
  width: 25%;
}
.column.fifth {
  width: 18.4%;
}
.marginless .column.fifth {
  width: 20%;
}
.column.sixth {
  width: 15%;
}
.marginless .column.sixth {
  width: 16.66667%;
}
.column.eighth {
  width: 10.75%;
}
.marginless .column.eighth {
  width: 12.5%;
}
.column.tenth {
  width: 8.2%;
}
.marginless .column.tenth {
  width: 10%;
}
.column.twelfth {
  width: 6.5%;
}
.marginless .column.twelfth {
  width: 8.33333%;
}
.column.three-eighths {
  width: 36.25%;
}
.marginless .column.three-eighths {
  width: 37.5%;
}
.column.two-fifths {
  width: 38.8%;
}
.marginless .column.two-fifths {
  width: 25%;
}
.column.two-thirds {
  width: 66%;
}
.marginless .column.two-thirds {
  width: 66.66667%;
}
.column.five-eighths {
  width: 61.75%;
}
.marginless .column.five-eighths {
  width: 62.5%;
}
.column.three-fourths {
  width: 74.5%;
}
.marginless .column.three-fourths {
  width: 75%;
}
.column.three-fifths {
  width: 59.2%;
}
.marginless .column.three-fifths {
  width: 60%;
}
.column.four-fifths {
  width: 79.6%;
}
.marginless .column.four-fifths {
  width: 80%;
}
.marginless .column {
  margin-left: 0;
}

.push {
  float: right;
}

.pull {
  float: left;
  margin-left: 0;
}

/* ==========================
    Multi Column
   ========================== */
[class*='two_column_'] {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

[class*='three_column_'] {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

[class*='four_column_'] {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

@media (max-width: 48em) {
  .column.half, .column.third {
    width: 100%;
    margin-left: 0;
  }
  .column.fourth, .column.fifth, .column.sixth {
    width: 49%;
  }
  .column.fourth:nth-child(2n+1), .column.fifth:nth-child(2n+1), .column.sixth:nth-child(2n+1) {
    margin-left: 0;
  }
  .marginless .column.fourth, .marginless .column.fifth, .marginless .column.sixth {
    width: 50%;
  }
  .column.eighth, .column.tenth, .column.twelfth {
    width: 23.5%;
  }
  .column.eighth:nth-child(4n+1), .column.tenth:nth-child(4n+1), .column.twelfth:nth-child(4n+1) {
    margin-left: 0;
  }
  .marginless .column.eighth, .marginless .column.tenth, .marginless .column.twelfth {
    width: 25%;
  }
  .column.two-fifths {
    width: 49%;
  }
  .column.two-thirds, .column.three-fourths, .column.three-fifths, .column.four-fifths {
    width: 100%;
    margin-left: 0;
  }
  .marginless .column.two-thirds, .marginless .column.three-fourths, .marginless .column.three-fifths, .marginless .column.four-fifths {
    width: 100%;
  }
  .column.three-fourths + .fourth, .column.three-fifths + .fifth {
    margin-left: 0;
  }
  .column.three-fourths + .fourth + .fifth, .column.three-fifths + .fifth + .fifth {
    margin-left: 2%;
  }
  .marginless .column.three-fourths + .fourth + .fifth, .marginless .column.three-fifths + .fifth + .fifth {
    margin-left: 0;
  }
}
@media (max-width: 40em) {
  .column.fourth, .column.fifth, .column.four-fifths {
    width: 100%;
    margin-left: 0;
  }
  .marginless .column.fourth, .marginless .column.fifth, .marginless .column.four-fifths {
    width: 100%;
  }
  .column.sixth, .column.eighth, .column.tenth, .column.twelfth {
    width: 49%;
  }
  .column.sixth:nth-child(2n+1), .column.eighth:nth-child(2n+1), .column.tenth:nth-child(2n+1), .column.twelfth:nth-child(2n+1) {
    margin-left: 0;
  }
  .marginless .column.sixth, .marginless .column.eighth, .marginless .column.tenth, .marginless .column.twelfth {
    width: 50%;
  }
  .column.three-fourths + .fourth, .column.three-fifths + .fifth {
    margin-left: 0;
  }
  .column.three-fourths + .fourth + .fifth, .column.three-fifths + .fifth + .fifth {
    margin-left: 0;
  }

  [class*='two_column_'], [class*='three_column_'], [class*='four_column_'] {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -ms-column-gap: 0;
    column-gap: 0;
  }
}
