/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* create row  */
/* create a column */
/* element span n columns */
/* remove margin from all last columns */
/* prepend n blank columns  */
/* append n blank columns */
/* ==========================================================================
    Modules -- Version: 0.4.0 - Updated: 12/29/2013
   ========================================================================== */
.box-column {
  padding: 2em;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  background: rgba(222, 222, 222, 0.3);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto;
}

hr {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  border: 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid white;
}
