/*
  Choose a grid width, the number of columns and the margin between columns.
  The result of the following equation has to be an integer, not a fraction:

  (width - (columns - 1) * col_margin) / columns = N
*/
/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
/* ==========================================================================
    Print -- Version: 1.9.0.0 - Updated: 1/20/2014
   ========================================================================== */
* {
  box-shadow: none !important;
  text-shadow: none !important;
}

.container {
  max-width: 670px;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

.loadtime, .fold, footer {
  display: none !important;
}
