/*
  Choose a grid width, the number of columns and the margin between columns.
  The result of the following equation has to be an integer, not a fraction:

  (width - (columns - 1) * col_margin) / columns = N
*/
/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
/* ==========================================================================
    Scroll To -- Version: 1.9.0.1 - Updated: 2/7/2014
   ========================================================================== */
.scrollToTop, .scrollToTop-modal {
  position: fixed;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  right: 1em;
  bottom: .5em;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 100;
  z-index: 999999;
  -webkit-transform: translateZ(0);
}
.scrollToTop:after, .scrollToTop-modal:after {
  padding-left: 0.5em;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: inherit;
  content: '\f093';
}

.scrollToTop-modal {
  position: relative;
  float: right;
}
