/* ==========================================================================
    Styleguide -- Version: 0.4.2  - Updated: 2/21/2014
   ========================================================================== */
.styleguide .colors, .styleguide .grid {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.styleguide .colors.color-white, .styleguide .color-white.grid {
  outline: 1px solid #e6e6e6;
}
@media (max-width: 48em) {
  .styleguide .colors, .styleguide .grid {
    margin-bottom: 1em;
  }
}
.styleguide .grid {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: #3bafda;
}
.styleguide .grid:nth-of-type(even) {
  background: #aae1f4;
}
.styleguide .prettyprint {
  display: none;
}
