// Base Site Settings
$site-width: 1020px;

// ---------------------------------------------------------------------- //

// Column / Grid Control
$site-column-count: 10;
$site-gutter-width: 2%;

// Breakpoints
$bp-big: 68.75em;
$bp-medium: 48em;
$bp-small: 40em;

// Sizing
$padding: 2em;
$margin: 1em;

//Border-Radius
$border-radius: 0;

// ---------------------------------------------------------------------- //

// Colors
$color-white: #fff;
$color-off-white: #f2f2f2;
$color-black: #000;
$color-grey: #666;
$color-light-grey: #ccc;

$color-primary-red: #c51b30;
$color-secondary-red: #871321;
$color-primary-green: #bfd2b4;
$color-secondary-green: #8cc152;
$color-primary-blue: #96adac;
$color-secondary-blue: #4d6d85;
$color-primary-lav: #ac92ec;
$color-secondary-lav: #967adc;

$color-dark-grey: #4e443c;
$color-light-grey: lighten($color-grey, 20%);
$color-light-light-grey: lighten($color-light-grey, 20%);

// Typography
$text: $color-dark-grey;
$text-color: $text;
$link: #d83e28;
$link-hover: $color-secondary-blue;
$text-grey: $color-grey;
$text-light-grey: $color-light-grey;
$text-link: $link;
$text-white: $color-white;
$text-error: $color-primary-red;
$text-success: $color-secondary-green;
$text-info: $color-secondary-blue;

// Always declare site background fallback
$site-background: rgba(222, 222, 222, 0.3);

// Buttons
$color-button-primary: $color-primary-blue;
$color-button-primary-hover: $color-secondary-blue;

// ---------------------------------------------------------------------- //

// Typography
// Fonts
$base-font-size: 18;
$base-line-height: 1.618;

$base-font: "OswaldLight", "Helvetica Neue", Helvetica, sans-serif;
$base-font-alt: "BebasNeueRegular", Arial, sans-serif;
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$arial-bold: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
$heading-font: "BebasNeueRegular", Arial, sans-serif;
$heading-font-alt: "BebasNeueRegular", Arial, sans-serif;
$fontawesome: 'FontAwesome';
$pre: Inconsolata,Monaco,Consolas,"Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;

$h1: 45;
$h2: 36;
$h3: 28;
$h4: 24;
$h5: 20;
$h6: 18;

$lede-text: ($base-font-size * 1.125);
$body-text: $base-font-size;
$small-body-text: ($base-font-size *.9);
$disclaimer-text: ($base-font-size *.75);

// ---------------------------------------------------------------------- //